#calculator{
	max-width: 400px;
}
#button{
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(5,1fr);
}
#button>button{
	border: none;
	aspect-ratio: 1;
	background: gold;
	color: #000;
	font-size: 20px;
	cursor: pointer;
}
#button>button:hover{
	background: orange;
	color: #fff;
}
#button>button:nth-child(1){
	grid-column: 1/4;
	aspect-ratio: unset;
}
#button>button:nth-child(2){
	grid-column: 4/5;
}
#result{
	height: 80px;
	background: #eee;
	margin-bottom: 5px;
	line-height: 80px;
	font-size: 40px;
	text-align: right;
	font-family: tahoma;
	padding: 0 10px;
	color: #555;
	position: relative;
}
#result:empty:after{
	position: absolute;
	right: 10px;
	content: '' attr(placeholder);
	color: #bbb;
}