html {
  font-family: Arial, sans-serif;
}
table {
  border-collapse: collapse;
  background-color: #a9a9a9;
}
th {
  background-color: gray;
  border: solid 1px black;
}
td {
  border: solid 1px;
  border-color: black;
  padding-left: 4px;
  padding-right: 4px;
}
tr {
  height: 25px;
}
